
body {
    display: flex;
    justify-content: center;
}

.container {
    width: 80vw;
    background-color: pink;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 2rem;
}

.chooseName {
    display: flex;
    padding: 1rem;
}

.tamaImg {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#tamaImg {
    height: 20vh;
}

#food-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.food {
    width:100px; 
    cursor:pointer;
}
